@-moz-document regexp("^https?://((education|graphql|guides|raw|resources|status|developer|support|vscode-auth)\\.)?oss.navercorp\\.com/((?!(sponsors)).)*$"), domain("gist.oss.navercorp.com") {
  /* generated refined-github rules */
  /* generated zenhub rules */
  /* generated github-hovercard rules */
  /* generated gitako rules */
  /* generated npmhub rules */
  /* generated notifications-preview rules */
  /* generated octotree rules */
  /* Refined GitHub - https://github.com/sindresorhus/refined-github
   * See #540
   * See #881 */
  .refined-github-diff-signs .blob-code-addition::before,
  .refined-github-diff-signs .blob-code-deletion::before {
    color: #7b7b7b !important;
  }
  /* https://github.com/StylishThemes/GitHub-Dark/issues/1035 */
  .refined-github .reaction-summary-item.user-has-reacted {
    --background: transparent !important;
  }
  .refined-github .reaction-summary-item a {
    box-shadow: none;
  }
  /* https://github.com/StylishThemes/GitHub-Dark/issues/1271 */
  .refined-github [data-rgh-whitespace="tab"] {
    background-image: url('data:image/svg+xml,%3Csvg preserveAspectRatio="xMinYMid meet" viewBox="0 0 12 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9.5 10.44L6.62 8.12L7.32 7.26L12.04 11V11.44L7.28 14.9L6.62 13.9L9.48 11.78H0V10.44H9.5Z" fill="rgba(95,90,96,60%)"/%3E%3C/svg%3E');
  }
  .refined-github [data-rgh-whitespace="space"] {
    background-image: url('data:image/svg+xml,%3Csvg preserveAspectRatio="xMinYMid meet" viewBox="0 0 12 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M4.5 11C4.5 10.1716 5.17157 9.5 6 9.5C6.82843 9.5 7.5 10.1716 7.5 11C7.5 11.8284 6.82843 12.5 6 12.5C5.17157 12.5 4.5 11.8284 4.5 11Z" fill="rgba(95,90,96,60%)"/%3E%3C/svg%3E');
  }
  /* https://github.com/musically-ut/lovely-forks */
  .lovely-forks-addon {
    color: #808080 !important;
  }
  /* https://github.com/npmhub/npmhub */
  .npmhub-deps > li {
    border-color: #343434 !important;
  }
  /* ZenHub */
  .zh-login-status {
    border-color: #343434 !important;
  }
  .zh-login-status__sign-in-button {
    background: #181818 !important;
    border-color: #484848 !important;
    color: #bebebe !important;
  }
  .zh-login-status__logo {
    color: #c6c6c6 !important;
  }
  body.zh_logged_in .zh-login-status {
    background: #181818 !important;
    border-color: #484848 !important;
    color: #bebebe !important;
  }
  body.zh_logged_in [style*="background-color: rgb(244, 244, 244)"] {
    background: #222 !important;
  }
  /* zenhub gradients */
  body.zh_logged_in .zhc-sidebar__navigation {
    background: none !important;
  }
  body.zh_logged_in .zhc-workspace-switcher__header {
    box-shadow: none !important;
  }
  body.zh_logged_in .zhc-btn--minimal {
    background: none !important;
    border: none !important;
  }
  body.zh_logged_in .zh-icon-circled-bolt, body.zh_logged_in .zh-icon-bolt,
  body.zh_logged_in .zh-octicon-x {
    filter: invert(40%) brightness(120%) !important;
  }
  body.zh_logged_in a.zh-topbar-item.selected .zh-icon-zenhub {
    filter: invert(40%) brightness(169%) !important;
  }
  body.zh_logged_in a.zh-topbar-item .zh-icon-zenhub {
    filter: brightness(64%) !important;
  }
  body.zh_logged_in .zhc-icon:not([class$="-red"]):not([class$="-white"]):not([class$="-light"]):not([class$="-purple"]),
  body.zh_logged_in [class*="zh-octicon"],
  body.zh_logged_in .zh-epic-creator-tab-icon,
  body.zh_logged_in .zhc-burndown-chart__placeholder,
  body.zh_logged_in .zhc-selection-button__container::after,
  body.zh_logged_in .zhc-icon--grey-light {
    filter: invert(100%) hue-rotate(180deg) !important;
  }
  body.zh_logged_in .zhc-selection-item:hover .zhc-icon:not([class$="-red"]):not([class$="-white"]):not([class$="-light"]):not([class$="-purple"]),
  body.zh_logged_in [class*="zhc-image--placeholder"] {
    filter: invert(100%) brightness(1.4) !important;
  }
  body.zh_logged_in .zhc-info-alert img {
    filter: invert(96%) hue-rotate(180deg);
  }
  body.zh_logged_in .disabled {
    background-color: transparent;
  }
  .zh-repo-switcher .zh-repo-switcher-btn {
    border: 0;
  }
  /* move expanded zenhub board toolbar when octotree exists
   * see https://github.com/buunguyen/octotree/issues/242 */
  html.octotree:not(.octotree-show) .zhc-board--is-fullscreen .zhc-menu-bar {
    margin-left: 30px;
    margin-top: -8px;
  }
  /* octotree */
  .octotree-sidebar.octotree-github-sidebar .octotree-views .octotree-view .octotree-view-header {
    background: #181818 !important;
    border-right-color: #343434 !important;
    border-bottom: 1px solid #343434 !important;
  }
  .octotree-sidebar.octotree-github-sidebar .octotree-toggle {
    box-shadow: none !important;
  }
  /* Github User Info userscript - see #481 */
  .GithubUserInfo, .GithubUserInfo > div {
    background: #202020 !important;
    border-color: #343434 !important;
  }
  /* GitHub Notifications Dropdown userscript - see #478 */
  .notifications-dropdown {
    background: #202020 !important;
    border: 1px solid #343434 !important;
  }
  a.notifications-dropdown-see-all {
    background: #242424 !important;
    color: /*[[base-color]]*/ !important;
  }
  a.notifications-dropdown-see-all:hover, .top-nav .dropdown-menu a:hover {
    background: /*[[base-color]]*/ !important;
    color: #e2e2e2 !important;
  }
  .notifications-dropdown-arrow {
    border-bottom-color: #333 !important;
  }
  /* Notification-preview */
  .NPG-dropdown .notifications-list-item.notification-unread {
    background: #181818 !important;
  }
  :root:root .NPG-dropdown .notifications-list-item:hover .notification-list-item-actions .btn:hover {
    background: /*[[base-color]]*/ !important;
  }
  /* https://github.com/StylishThemes/GitHub-Dark/issues/1198 */
  .overall-summary {
    background: #181818;
  }
  /* Sourcegraph - CodeLine Hover Color In Blob */
  table > tbody > tr > td[style="background-color: khaki;"] {
    background-color: #ffcc0050 !important;
  }
  /* Zenhub custom */
  .zhc-dependency {
    border-color: #343434;
  }
  /* Gitako custom */
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .header .meta-bar {
    background: var(--color-bg-primary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .header .meta-bar .user-and-repo a {
    color: var(--color-text-link);
  }
  .gitako-side-bar .gitako-side-bar-body {
    background: var(--color-bg-secondary);
    border-left: 1px solid var(--color-border-overlay);
  }
  .iCMHSR::after {
    color: var(--color-text-secondary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .header .close-side-bar-button-position .close-side-bar-button .action-icon {
    color: var(--color-text-secondary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .header .close-side-bar-button-position .close-side-bar-button .action-icon:hover {
    color: var(--color-text-primary);
  }
  .gitako-side-bar .gitako-side-bar-body .octicon {
    color: var(--color-text-secondary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .file-explorer .search-input-wrapper .search-input {
    border-color: var(--color-border-overlay);
    color: var(--color-text-primary);
    background: var(--color-bg-canvas);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .file-explorer .node-item {
    border-bottom: 1px solid var(--color-border-secondary);
    background: var(--color-bg-primary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .file-explorer .node-item:not(:hover) {
    color: var(--color-text-primary);
    background: var(--color-bg-primary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .file-explorer .node-item:not(:hover) .node-item-label .prefix {
    color: var(--color-text-tertiary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .file-explorer .node-item.focused,
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .file-explorer .node-item:hover {
    background: var(--color-bg-tertiary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .file-explorer .node-item:active {
    background: var(--color-bg-secondary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-settings-bar .header-row {
    border-top: 1px solid var(--color-border-secondary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-settings-bar {
    background: var(--color-bg-tertiary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-settings-bar .header-row .version {
    color: var(--color-text-tertiary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-settings-bar-title {
    border-top: 1px solid var(--color-border-secondary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-settings-bar-content .shadow-shelter {
    background: var(--color-bg-tertiary);
  }
  .gitako-side-bar button {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    border: 1px solid var(--color-btn-border);
    box-shadow: none;
  }
  .gitako-side-bar button:hover {
    background-color: var(--color-btn-hover-bg);
    color: var(--color-btn-text);
    border: 1px solid var(--color-btn-hover-border);
    box-shadow: none;
  }
  .gitako-side-bar button:active {
    background-color: var(--color-btn-selected-bg);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-settings-bar .toggle-shortcut-input-control .toggle-shortcut-input {
    color: var(--color-text-primary);
    background-color: var(--color-input-bg);
    border-color: var(--color-border-primary);
    box-shadow: none;
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-settings-bar .toggle-shortcut-input-control .toggle-shortcut-input:focus {
    border-color: var(--color-state-focus-border);
    outline: none;
    box-shadow: var(--color-state-focus-shadow);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-settings-bar-content .settings-section .field select {
    background-color: var(--color-btn-bg);
    color: var(--color-btn-text);
    border: 1px solid var(--color-btn-border);
    box-shadow: none;
  }
  .gitako-side-bar .gitako-resize-handler {
    background: var(--color-bg-tertiary);
    border-right: 1px solid var(--color-border-tertiary);
  }
  .gitako-ready.shrink-github-header main>*:first-child {
    box-shadow: none;
  }
  .gitako-ready.shrink-github-header .js-header-wrapper {
    background: inherit;
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .header .meta-bar .branch-name {
    color: #9daccc;
    background: #182030;
    border: 1px solid #246;
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .description {
    border-top: 1px solid var(--color-border-overlay);
  }
  .gitako-side-bar-content .description p {
    color: var(--color-text-secondary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-settings-bar .access-token-input-control .access-token-input {
    color: var(--color-text-primary);
    background-color: var(--color-input-bg);
    border-color: var(--color-border-primary);
    box-shadow: none;
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-settings-bar .access-token-input-control .access-token-input:focus {
    border-color: var(--color-state-focus-border);
    outline: none;
    box-shadow: var(--color-state-focus-shadow);
  }
  .gitako-settings-bar > .gitako-settings-bar-content > div:nth-child(2) > div > div > button:disabled {
    color: hsla(0, 0%, 100%, .3) !important;
    background-color: var(--color-btn-bg) !important;
    border: 1px solid var(--color-btn-border) !important;
  }
  .gitako-settings-bar > .gitako-settings-bar-content > div:nth-child(2) > div > div > button:disabled:hover {
    color: hsla(0, 0%, 100%, .3) !important;
    background-color: var(--color-btn-bg) !important;
    border: 1px solid var(--color-btn-border) !important;
  }
  .gitako-side-bar .gitako-resize-handler:hover,
  .gitako-side-bar .gitako-resize-handler:active {
    background: var(--color-bg-secondary);
    border-left: 1px solid var(--color-border-tertiary);
  }
  body > div:nth-child(14) > div > div > div.gitako-resize-handler > div {
    color: var(--color-text-secondary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .loading-indicator-container .loading-indicator {
    color: var(--color-text-secondary);
  }
  .gitako-side-bar .gitako-side-bar-body .gitako-side-bar-content .loading-indicator-container {
    border-top: 1px solid var(--color-border-primary);
    color: var(--color-text-secondary);
  }
  .gitako-toggle-show-button-wrapper .gitako-toggle-show-button .octoface-icon {
    border: 1px solid var(--color-border-primary);
    background: var(--color-bg-secondary);
    color: var(--color-icon-primary);
  }
}
