@-moz-document regexp("^https?://oss.navercorp\.com/features/(security|actions)") {
  img[src*="security-vulnerability.svg"],
  img[src*="security-vulnerability-alert.svg"], img[src*="security-policy.svg"],
  img[src*="security-workspace-bg.svg"],
  img[src*="security-workspace-comment-1.svg"],
  img[src*="security-workspace-comment-2.svg"],
  img[src*="security-workspace-changes.svg"],
  img[src*="security-workspace-merge.svg"], .section-security-alerts svg,
  img[src*="security-dependabot.svg"], img.security-pr-merge,
  .section-security-patches-graph, img[src*="security-token-scanning.svg"],
  img[src*="security-lgtm-vulnerability.svg"],
  img[src*="security-lgtm-alert.svg"], .actions-pr-checks {
    filter: invert(90%) hue-rotate(-180deg) !important;
  }
  .section-actions-hero .actions-hero-bg, .section-actions-hero .actions-hero {
    filter: invert(1) contrast(70%) brightness(80%);
  }
  .section-security-alerts-graph svg, .section-security-patches-graph {
    filter: none !important;
  }
  [style="background: #fff; box-shadow: 0 10px 50px 30px #fff;"] {
    background: none !important;
    box-shadow: none !important;
  }
  [stroke="#E1E4E8"] {
    stroke: #484848;
  }
  [stroke="#B08800"] {
    stroke: #652;
  }
  [fill="#FFFDEF"] {
    fill: #321;
  }
  [fill="#6A737D"] {
    fill: #444;
  }
  [fill="white"]:not([d*="M279.27"]) {
    fill: #111;
  }
  [fill="black"] {
    fill: #eee;
  }
  svg.security-hero, .actions-hero {
    filter: brightness(200%) contrast(80%);
  }
  .section-actions-workflow-logs::before, .actions-pricing-private::before {
    filter: brightness(60%);
  }
  .btn-mktg {
    background-color: rgba(/*[[base-color-rgb]]*/, .8);
    border-color: /*[[base-color]]*/;
  }
  .btn-mktg:hover {
    background-color: rgba(/*[[base-color-rgb]]*/, 1);
    border-color: /*[[base-color]]*/;
  }
  .btn-outline-mktg {
    background-color: transparent;
    border-color: rgba(/*[[base-color-rgb]]*/, .9);
    color: rgba(/*[[base-color-rgb]]*/, .9);
  }
  .btn-outline-mktg:hover {
    background-color: transparent;
    border-color: rgba(/*[[base-color-rgb]]*/, 1);
    color: rgba(/*[[base-color-rgb]]*/, 1);
  }
  .actions-hero-bg {
    background-image: none;
  }
}
@-moz-document regexp("^https?://oss.navercorp\.com/(features|security).*") {
  img[src*="img-"], img[src*="security"] {
    filter: invert(90%) hue-rotate(-180deg) !important;
  }
  img[src*="img-share-achievements.png"] {
    filter: invert(100%) hue-rotate(-85deg) !important;
  }
  .jumbotron-codelines {
    color: #dcdcdc;
  }
}
