@-moz-document regexp("^https?://((education|gist|graphql|guides|raw|resources|status|developer|support|vscode-auth)\\.)?oss.navercorp\\.com/((?!(sponsors)).)*$") {
  /* 프로필 페이지 */
  @media (min-width: 768px) {
    .avatar-before-user-status {
      border: 1px solid var(--color-border-primary) !important;
    }
  }
  .vcard-detail .octicon {
    color: var(--color-text-tertiary);
  }
  .UnderlineNav.width-full {
    border: transparent;
  }
  .UnderlineNav-item {
    color: var(--color-underlinenav-text);
  }
  .UnderlineNav-item.selected {
    color: var(--color-underlinenav-text-active);
  }
  .UnderlineNav-item:focus, .UnderlineNav-item:hover {
    color: var(--color-underlinenav-text-hover);
    border-width: 2px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-border-tertiary) !important;
  }
  .user-profile-sticky-bar:after {
    background-color: var(--color-bg-tertiary);
    border-color: var(--color-border-secondary);
    border-bottom: 1px solid var(--color-border-primary);
  }
  .UnderlineNav.is-stuck {
    background-color: var(--color-bg-tertiary) !important;
    border-color: var(--color-border-secondary);
    border-bottom: 1px solid var(--color-border-primary);
  }
  /* Contribution 그래프 */
  .contrib-legend [style*="#ebedf0"], .calendar-graph [fill="#ebedf0"] {
    background: var(--color-calendar-graph-day-bg) !important;
    fill: var(--color-calendar-graph-day-bg) !important;
  }
  .contrib-legend [style*="#c6e48b"], .calendar-graph [fill="#c6e48b"] {
    background: var(--color-calendar-graph-day-L1-bg) !important;
    fill: var(--color-calendar-graph-day-L1-bg) !important;
  }
  .contrib-legend [style*="#7bc96f"], .calendar-graph [fill="#7bc96f"] {
    background: var(--color-calendar-graph-day-L2-bg) !important;
    fill: var(--color-calendar-graph-day-L2-bg) !important;
  }
  .contrib-legend [style*="#239a3b"], .calendar-graph [fill="#239a3b"] {
    background: var(--color-calendar-graph-day-L3-bg) !important;
    fill: var(--color-calendar-graph-day-L3-bg) !important;
  }
  .contrib-legend [style*="#196127"], .calendar-graph [fill="#196127"] {
    background: var(--color-calendar-graph-day-L4-bg) !important;
    fill: var(--color-calendar-graph-day-L4-bg) !important;
  }
  /* dropdown & header */
  .dropdown-item.btn-link {
    color: var(--color-text-primary);
  }
  .dropdown .dropdown-menu {
    border: 1px solid var(--color-border-overlay) !important;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .4) !important;
    background-color: var(--ghd-bg-color) !important;
  }
  .dropdown-divider {
    border-top: 1px solid var(--color-border-overlay) !important;
  }
  .dropdown-item {
    color: var(--color-text-primary);
  }
  .header-nav-current-user .user-profile-link {
    color: var(--color-text-primary);
  }
  .pinned-item-name {
    color: var(--color-text-primary);
  }
  .pinned-item-checkbox:checked+.pinned-item-name {
    color: var(--color-auto-gray-9);
    background-color: var(--color-bg-info);
  }
  .js-remaining-pinned-items-count {
    color: var(--color-text-danger);
  }
  .Header-link {
    color: var(--color-btn-text);
  }
  .jump-to-suggestions-path .jump-to-octicon {
    color: var(--color-text-tertiary);
  }
  /* timeline icons */
  .discussion-item-icon {
    color: var(--color-icon-secondary);
    background-color: var(--color-timeline-badge-bg);
    border: 2px solid var(--color-bg-canvas);
  }
  .profile-timeline-month-heading {
    color: var(--color-text-primary);
    background-color: var(--color-bg-canvas) !important;
  }
  .profile-rollup-wrapper+.profile-rollup-wrapper {
    border-top: 0;
  }
  .profile-rollup-summarized+.profile-rollup-summarized {
    border-top: 0;
  }
  .profile-rollup-wrapper .css-truncate-target {
    color: /*[[base-color]]*/;
  }
  .profile-rollup-wrapper .css-truncate-target:hover {
    text-decoration: underline;
  }
  .task-progress {
    color: var(--color-text-secondary);
  }
  .profile-timeline-card .issue-meta-section .octicon {
    color: var(--color-text-secondary);
  }
  .block-diff-neutral {
    background-color: var(--color-diffstat-neutral-bg) !important;
    outline: 1px solid var(--color-diffstat-neutral-border) !important;
  }
  .block-diff-deleted {
    background-color: var(--color-diffstat-deletion-bg) !important;
    outline: 1px solid var(--color-diffstat-deletion-border) !important;
  }
  .block-diff-added {
    background-color: var(--color-diffstat-addition-bg) !important;
    outline: 1px solid var(--color-diffstat-addition-border) !important;
  }
  .block-diff-added, .block-diff-deleted, .block-diff-neutral {
    outline-offset: -1px;
  }
  details .link-gray-dark:hover {
    text-decoration: none;
    color: var(--color-text-primary) !important;
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-hover-border);
    transition-duration: .1s;
  }
  details .link-gray-dark:active {
    box-shadow: none;
    background-color: var(--color-btn-selected-bg);
    box-shadow: var(--color-shadow-inset);
    transition: none;
  }
  .user-status-org-button.selected {
    color: var(--color-text-primary);
    background-color: transparent;
  }
  .user-status-org-button .user-status-org-detail {
    color: var(--color-text-primary);
  }
  .user-status-org-button.selected .user-status-org-detail {
    color: var(--color-text-primary);
  }
  .user-status-org-button:hover .user-status-org-detail {
    color: var(--color-state-hover-primary-text);
  }
  .vcard-username {
    color: var(--color-text-secondary);
  }
  .link-gray:hover .text-gray {
    color: rgb(79, 140, 201) !important;
  }
  /* buttons */
  .btn {
    color: var(--color-btn-text);
    background-image: none;
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border) !important;
  }
  .btn:hover, .btn.hover, [open]>.btn {
    background-image: none;
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-hover-border) !important;
  }
  .btn.disabled, .btn:disabled:hover, .btn[aria-disabled=true],
  btn[aria-disabled=true]:hover {
    color: var(--color-scale-gray-4) !important;
    background: var(--color-bg-overlay) !important;
    border-color: rgba(220, 220, 220, .15) !important;
  }
  .btn:active, .btn.selected, .btn[aria-selected=true] {
    background-color: var(--color-btn-selected-bg);
    transition: none;
  }
  .btn-outline:hover, [open]>.btn-outline {
    color: var(--color-btn-outline-hover-text) !important;
    background-color: var(--color-btn-outline-hover-bg) !important;
    border-color: var(--color-btn-outline-hover-border) !important;
    box-shadow: var(--color-btn-outline-hover-shadow),
                    var(--color-btn-outline-hover-inset-shadow) !important;
  }
  .btn-outline:active, .btn-outline.selected, .btn-outline[aria-selected=true] {
    color: var(--color-btn-outline-selected-text) !important;
    background-color: var(--color-btn-outline-selected-bg) !important;
    border-color: var(--color-btn-outline-selected-border) !important;
  }
  .btn-outline:hover .octicon, [open]>.btn-outline .octicon {
    color: inherit;
  }
  .btn-blue, .btn-primary {
    background-image: none;
    color: var(--color-btn-primary-text);
    background-color: var(--color-btn-primary-bg);
    border-color: var(--color-btn-primary-border);
  }
  .btn-blue:hover, .btn-blue.hover, [open]>.btn-blue, .btn-primary:hover,
  .btn-primary.hover, [open]>.btn-primary {
    background-color: var(--color-btn-primary-hover-bg);
    border-color: var(--color-btn-primary-hover-border);
  }
  .btn-blue:active, .btn-blue.selected, .btn-blue[aria-selected=true],
  .btn-primary:active, .btn-primary.selected, .btn-primary[aria-selected=true] {
    background-color: var(--color-btn-primary-selected-bg);
  }
  .ajax-pagination-form .ajax-pagination-btn {
    color: var(--color-text-link);
    background-image: none;
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-primary);
    margin-top: 20px !important;
  }
  .ajax-pagination-form .ajax-pagination-btn:hover,
  .ajax-pagination-form .ajax-pagination-btn:focus {
    color: var(--color-text-link);
    background-color: var(--color-bg-tertiary);
  }
  input.focus[type="text"], #adv_code_search .focus.search-page-label,
  .focused .drag-and-drop, #adv_code_search .search-page-label:focus,
  #q:focus ~ button, input.color-editor-input:focus, #ghd-settings select:focus,
  #ghd-settings input:focus, .intgrs-lstng-item:hover,
  .ajax-pagination-btn:focus, input[type="checkbox"]:focus,
  div.search-form input:focus, #search > input[name="q"]:focus {
    border-color: rgb(79, 140, 201) !important;
    outline-color: rgb(79, 140, 201) !important;
  }
  .flash {
    color: var(--color-alert-info-text);
    background-image: linear-gradient(var(--color-alert-info-bg), var(--color-alert-info-bg));
    border-color: var(--color-alert-info-border);
  }
  .issues-reset-query {
    color: var(--color-text-secondary);
  }
  .dropdown-item:focus, .dropdown-item:hover {
    color: var(--color-state-hover-primary-text);
    text-decoration: none;
    background-color: var(--color-state-hover-primary-bg);
    outline: none;
  }
  /* select menu modal */
  .SelectMenu-modal {
    background-color: var(--color-bg-overlay);
    border: 1px solid var(--color-select-menu-border-secondary);
  }
  .SelectMenu-list {
    border-top: 1px solid var(--color-select-menu-border-secondary);
  }
  .SelectMenu-item, .SelectMenu-item[aria-checked=true] {
    background-color: var(--color-bg-overlay);
    border: 0;
    color: var(--color-text-primary);
  }
  .SelectMenu-item+.SelectMenu-item {
    border-top: 1px solid var(--color-select-menu-border-secondary);
  }
  @media (min-width: 544px) {
    .SelectMenu-modal {
      border-color: var(--color-border-overlay);
      box-shadow: var(--color-shadow-large);
    }
  }
  .SelectMenu-item[aria-checked=true]:active,
  .SelectMenu-item[aria-checked=true]:hover,
  body:not(.intent-mouse) .SelectMenu-item[aria-checked=true]:focus {
    color: var(--color-text-primary);
    background-color: #202020;
  }
  /* Header jump */
  .jump-to-suggestions-path {
    color: var(--color-auto-black);
  }
  .jump-to-suggestions-results-container .navigation-item {
    border-bottom: 1px solid var(--color-border-overlay);
  }
  .ais-SearchBox-input, .form-control, .form-select {
    color: var(--color-text-primary);
  }
  .header-search-wrapper {
    color: var(--color-text-white);
    border: 1px solid var(--color-header-search-border);
  }
  .header-search-input {
    color: inherit;
  }
  .jump-to-suggestions-results-container [aria-selected=true] .jump-to-suggestions-path,
  .jump-to-suggestions-results-container .navigation-focus .jump-to-suggestions-path {
    color: var(--color-text-white);
    background: var(--color-bg-info-inverse);
  }
  .form-control.focus, .form-control:focus, .form-select.focus,
  .form-select:focus {
    border-color: var(--color-state-focus-border);
    outline: none;
    box-shadow: var(--color-state-focus-shadow);
  }
  .rounded-1 {
    border-radius: 6px !important;
  }
  .jump-to-field-active {
    color: var(--color-text-primary) !important;
  }
  .header-search-input:focus {
    box-shadow: none !important;
  }
  /* 'Create a new project' page */
  .table-list-header-toggle .btn-link.selected,
  .table-list-header-toggle .btn-link.selected:hover {
    color: var(--color-text-primary) !important;
  }
  .table-list-header-toggle .btn-link {
    color: var(--color-text-secondary) !important;
  }
  .pagehead-tabs-item {
    color: var(--color-text-secondary);
  }
  .pagehead-tabs-item:hover {
    color: var(--color-text-primary);
    text-decoration: none;
  }
  .pagehead-tabs-item.selected, .reponav-item.selected {
    border-left: 1px solid var(--color-border-secondary);
    border-right: 1px solid var(--color-border-secondary);
    border-top-color: #fff;
    color: var(--color-text-primary);
  }
  .pagehead-tabs-item .octicon {
    color: var(--color-fade-black-30);
  }
  .pagehead-tabs-item .Counter {
    color: var(--color-auto-gray-7);
  }
  .pagehead.orghead {
    border-bottom: 1px solid var(--color-border-secondary);
  }
  .Subhead {
    border-bottom: 1px solid var(--color-border-secondary);
  }
  .Subhead-description {
    color: var(--color-text-secondary);
  }
  .dropdown-menu, .word-upload-callout, .select-menu-modal {
    box-shadow: 0 3px 12px rgba(0, 0, 0, .4);
  }
  .select-menu-modal {
    border-color: var(--color-border-overlay);
    color: var(--color-text-primary);
    background-color: var(--color-bg-overlay);
    background-clip: padding-box;
    border: 1px solid var(--color-border-overlay);
    border-radius: 6px;
  }
  .select-menu-header, .select-menu-filters {
    background: var(--color-bg-overlay);
  }
  .select-menu-divider, .select-menu-header {
    border-bottom: 1px solid var(--color-select-menu-border-secondary);
  }
  .select-menu-divider, .select-menu-header .select-menu-title {
    color: var(--color-text-primary);
  }
  .select-menu-item.selected, details-menu .select-menu-item[aria-checked=true],
  details-menu .select-menu-item[aria-selected=true] {
    color: var(--color-text-primary);
  }
  .select-menu-item {
    background-color: var(--color-bg-overlay);
    border-bottom: 1px solid var(--color-select-menu-border-secondary);
  }
  .select-menu-item.navigation-focus,
  .select-menu-item.navigation-focus .description-inline,
  .select-menu-item.navigation-focus.select-menu-action,
  .select-menu-item.navigation-focus.selected,
  .select-menu-item.navigation-focus[aria-checked=true], .select-menu-item:focus,
  .select-menu-item:focus .description-inline,
  .select-menu-item:focus.select-menu-action, .select-menu-item:focus.selected,
  .select-menu-item:hover, .select-menu-item:hover .description-inline,
  .select-menu-item:hover.select-menu-action, .select-menu-item:hover.selected,
  .select-menu-item[aria-checked=true]:focus,
  .select-menu-item[aria-checked=true]:hover,
  .select-menu-item[aria-selected=true] .description-inline,
  .select-menu-item[aria-selected=true].select-menu-action,
  .select-menu-item[aria-selected=true]:focus,
  .select-menu-item[aria-selected=true]:hover {
    color: var(--color-state-hover-primary-text);
    background-color: var(--color-state-hover-primary-bg);
  }
  /* 'Create a new repo' page */
  .reponame-suggestion {
    color: var(--color-text-success);
  }
  .select-menu-text-filter:first-child:last-child {
    border-bottom: 1px solid var(--color-select-menu-border-secondary);
  }
  .select-menu-text-filter input {
    border: 1px solid var(--color-select-menu-border-secondary);
    border-radius: 6px;
  }
  .link-gray, .Link--secondary {
    color: var(--color-text-secondary) !important;
  }
  .table-list-header-toggle .select-menu-button:hover,
  .table-list-header-toggle .select-menu-button.selected,
  .table-list-header-toggle .select-menu-button.selected:hover,
  .table-list-header-toggle .btn-link:hover {
    color: var(--color-text-primary) !important;
  }
  .btn-primary .octicon {
    color: inherit;
  }
  /* 레포 */
  .page-new-repo .octicon-repo {
    color: var(--color-text-tertiary);
  }
  .select-menu-item-text .description {
    color: var(--color-text-secondary);
  }
  h1 a, h2 a, h3 a, h4 a {
    color: var(--color-text-link);
    text-decoration: none;
  }
  input::placeholder, textarea::placeholder {
    color: var(--color-text-tertiary) !important;
  }
  input:focus::placeholder, textarea:focus::placeholder,
  .focus input::placeholder, .focus textarea::placeholder,
  .jump-to-field-active::placeholder {
    color: var(--color-text-secondary) !important;
  }
  .Header .header-search-wrapper.focus {
    box-shadow: none !important;
  }
  .header-search-wrapper, .header-search-wrapper.focus {
    box-shadow: none;
  }
  .btn-primary.disabled, .btn-primary:disabled, .btn-primary[aria-disabled=true] {
    color: hsla(0, 0%, 100%, .3) !important;
  }
  .btn-primary.disabled:hover, .btn-primary:disabled:hover,
  .btn-primary[aria-disabled=true]:hover {
    color: hsla(0, 0%, 100%, .3) !important;
  }
  .btn-blue:disabled, .btn-blue.disabled, .btn-blue[aria-disabled=true],
  .btn-primary:disabled, .btn-primary.disabled, .btn-primary[aria-disabled=true] {
    background-color: var(--color-btn-primary-disabled-bg) !important;
    border-color: var(--color-btn-primary-disabled-border) !important;
  }
  .btn-blue:disabled:hover, .btn-blue.disabled:hover,
  .btn-blue[aria-disabled=true]:hover, .btn-primary:disabled:hover,
  .btn-primary.disabled:hover, .btn-primary[aria-disabled=true]:hover {
    background-color: var(--color-btn-primary-disabled-bg) !important;
    border-color: var(--color-btn-primary-disabled-border) !important;
  }
  .btn-secret.disabled, .btn-secret.disabled:hover, .btn-secret:disabled,
  .btn-secret:disabled:hover {
    color: var(--color-scale-gray-4) !important;
    background: var(--color-bg-overlay) !important;
    border-color: rgba(220, 220, 220, .15) !important;
  }
  .btn-danger {
    color: var(--color-btn-danger-text) !important;
  }
  .btn-danger:hover, [open]>.btn-danger {
    color: var(--color-btn-danger-hover-text) !important;
    background-color: var(--color-btn-danger-hover-bg) !important;
    border-color: var(--color-btn-danger-hover-border) !important;
  }
  .btn-danger:hover .octicon, [open]>.btn-danger .octicon {
    color: var(--color-btn-danger-hover-icon) !important;
  }
  .btn-danger:active, .btn-danger.selected, .btn-danger[aria-selected=true] {
    color: var(--color-btn-danger-selected-text) !important;
    background-color: var(--color-btn-danger-selected-bg) !important;
    border-color: var(--color-btn-danger-selected-border) !important;
  }
  .autocomplete-results {
    background-color: var(--color-bg-overlay);
    border: 1px solid var(--color-border-overlay);
  }
  .autocomplete-item {
    color: var(--color-text-primary);
    border: 1px solid var(--color-border-primary);
    padding: 4px 8px;
    border: 0;
  }
  .autocomplete-item:hover {
    color: var(--color-state-hover-primary-text);
    text-decoration: none;
    background-color: var(--color-state-hover-primary-bg);
  }
  .Label--outline, .Label--gray {
    color: var(--color-auto-gray-6);
    border-color: var(--color-auto-gray-2);
  }
  .menu {
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-primary);
  }
  .menu-item {
    color: var(--color-text-primary);
    border-bottom: 1px solid var(--color-border-secondary);
  }
  .menu-item.selected {
    color: var(--color-text-primary);
  }
  .menu-item:focus, .menu-item:hover {
    text-decoration: none;
    background-color: var(--color-state-hover-secondary-bg);
    outline: none;
  }
  .menu-item:active {
    background-color: var(--color-bg-secondary);
  }
  .flash .octicon {
    color: var(--color-alert-info-icon);
  }
  .boxed-group>h3, .boxed-group .heading {
    background-color: var(--color-bg-tertiary);
    border: 1px solid var(--color-border-primary);
    border-bottom: 0;
  }
  .blankslate {
    background-color: var(--color-bg-primary) !important;
    color: var(--color-text-secondary);
  }
  .access-form-wrapper {
    color: var(--color-text-secondary);
    border-top: 1px solid var(--color-border-secondary);
  }
  .select-menu-item.selected .description,
  details-menu .select-menu-item[aria-checked=true] .description,
  details-menu .select-menu-item[aria-selected=true] .description {
    color: var(--color-text-secondary);
  }
  .boxed-group-inner {
    border: 1px solid var(--color-border-primary);
  }
  .table-list-header {
    background-color: var(--color-bg-tertiary);
    border: 1px solid var(--color-border-primary);
  }
  .table-list-header-meta {
    color: var(--color-text-secondary);
  }
  .collaborators .collab-info {
    color: var(--color-text-primary);
  }
  .collaborators .collab-remove .remove-link {
    color: var(--color-text-secondary);
  }
  .flash-close:hover {
    opacity: .7;
  }
  .flash-close:active {
    opacity: .5;
  }
  @media (min-width: 544px) {
    .project-column:focus {
      border-color: var(--color-auto-blue-4) !important;
      box-shadow: var(--color-btn-shadow-input-focus);
    }
  }
  .Counter--gray-light {
    color: var(--color-counter-secondary-text);
  }
  .project-column .bg-gray-light {
    background-color: var(--color-bg-tertiary) !important;
  }
  .btn-blue .Counter, .btn-link {
    color: var(--color-text-link);
  }
}
